#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.heatmap-container {
  height: 49%;
  width: 29%;
  top: 1%;
  left: 1%;
  position: absolute;
  float: left;
}

.county-map-container {
  height: 98%;
  width: 69%;
  top: 1%;
  right: 1%;
  position: absolute;
  float: right;
}

.map-options {
  position: absolute;
  height: 35px;
  width: 100%;
  top: 0;
  text-align: center;
}

.options-text {
  display: inline-block;
  padding-right: 10px;
}

.options-select {
  display: inline-block;
  border-radius: 8px;
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(135, 142, 202);
  border: 1px solid black;
}

.options-zoom {
  display: inline-block;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.misc-container {
  height: 49%;
  width: 29%;
  bottom: 1%;
  left: 1%;
  position: absolute;
  float: left;
}

.infoview-div{
  top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}

svg{
  height: 100%;
  width: 100%;
}

div{
  white-space: pre-line;
}